<%- include('./templates/header') -%>
    <div class="page-1 min-h-screen max-h-screen bg-center bg-no-repeat bg-cover bg-brown">
        <nav class="border-gray-200 px-2 sm:px-4 dark:bg-gray-900">
            <div class="flex flex-wrap justify-between items-center mx-auto  max-w-screen-xl px-4 md:px-6 py-2.8">
                <a href="/" class="flex items-center">
                    <span
                        class="self-center text-4xl text-yellow-800 font-semibold whitespace-nowrap tracking-widest dark:text-white mr-4">
                        &#60;</span>
                    <img src="/assets/rock-paper-scissors.png" class="mr-4 h-6 sm:h-9" alt="rock-paper-scissors Logo">
                    <span
                        class="self-center text-xl text-yellow-400 font-semibold whitespace-nowrap tracking-widest dark:text-white">ROCK
                        PAPER SCISSORS</span>
                </a>
            </div>
        </nav>

        <div class="grid grid-cols-12 gap-8 px-16 mx-auto place-content-center h-[70vh]">
            <div class="col-span-5 text-right">
                <div class="flex flex-col justify-center items-end pr-8">
                    <div class="pb-10">
                        <span class="text-lg font-extrabold tracking-widest">
                            PLAYER 1
                        </span>
                    </div>
                    <div class="pb-10">
                        <button class="btn w-20 h-w-24 btn-player p-2" data-option="rock" id="btn-rock-player">
                            <img src="/assets/batu.png" data-option="rock" alt="rock image">
                        </button>
                    </div>
                    <div class="pb-10">
                        <button class="btn w-20 h-24 btn-player p-2" data-option="paper" id="btn-paper-player">
                            <img src="/assets/kertas.png" data-option="paper" alt="paper image">
                        </button>
                    </div>
                    <div class="">
                        <button class="btn w-20 h-24 btn-player p-2" data-option="scissors" id="btn-scissors-player">
                            <img src="/assets/gunting.png" data-option="scissors" alt="scissors image">
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-span-2 text-center self-center">
                <div class="flex flex-col justify-center items-center">
                    <h1 class="text-8xl text-red-800 font-bold text-versus tracking-widest">VS</h1>
                    <h1
                        class="text-3xl bg-green-500 -rotate-30 outline-dotted text-status-game text-white font-bold tracking-widest hidden">
                        YOU WIN</h1>
                </div>
            </div>
            <div class="col-span-5 text-left">
                <div class="flex flex-col justify-center items-start pr-8">
                    <div class="pb-10">
                        <span class="text-lg font-extrabold tracking-widest">
                            COM
                        </span>
                    </div>
                    <div class="pb-10">
                        <button class="btn w-20 h-w-24 btn-com p-2" data-option="rock" id="btn-rock-com">
                            <img src="/assets/batu.png" data-option="rock" alt="rock image">
                        </button>
                    </div>
                    <div class="pb-10">
                        <button class="btn w-20 h-24 btn-com p-2" data-option="paper" id="btn-paper-com">
                            <img src="/assets/kertas.png" data-option="paper" alt="paper image">
                        </button>
                    </div>
                    <div class="">
                        <button class="btn w-20 h-24 btn-com p-2" data-option="scissors" id="btn-scissors-com">
                            <img src="/assets/gunting.png" data-option="scissors" alt="scissors image">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-2 px-16 mx-auto place-content-center h-full">
            <div class="col-span-4 text-left self-center">
                <span class="font-bold">
                    Player :
                </span>
                <span class="text-point-player">0</span>
            </div>
            <div class="col-span-4 text-center">
                <button class="btn w-14 h-w-14" id="btn-reset">
                    <img src="/assets/refresh.png" alt="refresh button">
                </button>
            </div>
            <div class="col-span-4 text-right self-center">
                <span class="font-bold">
                    COM :
                </span><span class="text-point-com">0</span>
            </div>
        </div>

        <script src="/Games.js"></script>
        <%- include('./templates/scripts') %>
            <script type="text/javascript">
                const initGame = new Games();
                let test = "<%= result %>"

                if (test == "401") {
                    window.location.href = "/login";
                }
            </script>
            <%- include('./templates/footer') %>