<%- include('./templates/header') -%>
	<div class="page-1 min-h-screen max-h-screen bg-center bg-no-repeat bg-cover bg-background-page1">
		<nav class="bg-black bg-opacity-60 border-gray-200 px-2 sm:px-4 dark:bg-gray-900">
			<div class="flex flex-wrap justify-between items-center mx-auto  max-w-screen-xl px-4 md:px-6 py-2.8">
				<a href="#" class="flex items-center">
					<img src="/assets/icon.ico" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo">
					<span
						class="self-center text-xl text-white font-semibold whitespace-nowrap tracking-widest dark:text-white">LOGO</span>
				</a>
				<div class="flex md:order-2">
					<div class="hidden relative lg:block">
						<a href="/register"
							class="mr-6 text-xs font-bold text-white dark:text-white hover:underline">SIGN
							UP</a>
						<a href="/login"
							class="text-xs font-bold text-white dark:text-blue-500 hover:underline">LOGIN</a>
					</div>
					<button data-collapse-toggle="navbar-search" type="button"
						class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
						aria-controls="navbar-search" aria-expanded="false">
						<span class="sr-only">Open menu</span>
						<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd"
								d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
								clip-rule="evenodd"></path>
						</svg>
					</button>
				</div>
				<div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="navbar-search">
					<div class="relative mt-3 md:hidden">
						<a href="#" class="mr-6 text-xs font-bold text-white dark:text-white hover:underline">SIGN
							UP</a>
						<a href="#" class="text-xs font-bold text-white dark:text-blue-500 hover:underline">LOGIN</a>
					</div>
					<ul
						class="flex flex-col mt-4 mr-96 text-xs font-bold text-white md:flex-row md:space-x-8 md:mt-0 md:text-xs md:font-bold">
						<li class="pr-2">
							<a href="#" class=" dark:text-white hover:underline" aria-current="page">HOME</a>
						</li>
						<li class="pr-2">
							<a href="#" class=" dark:text-white hover:underline">WORK</a>
						</li>
						<li class="pr-2">
							<a href="#" class=" dark:text-white hover:underline">CONTACT</a>
						</li>
						<li class="pr-2">
							<a href="#" class=" dark:text-white hover:underline">ABOUT ME</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="flex flex-wrap flex-col justify-center items-center h-[91.5vh] text-center">
			<div class="max-w-7xl mx-auto px-4 my-auto">
				<h1 class="mb-8 text-5.5xl font-bold tracking-widest text-white dark:text-white">
					PLAY TRADITIONAL GAME
				</h1>
				<h3 class="mb-6 text-base text-slate-200 tracking-widest lg:mx-auto">Experience new
					traditional game play
				</h3>
				<div class="flex flex-col items-center mt-4">
					<a href="/games"
						class="w-52 bg-yellow-400 hover:bg-yellow-500 text-sm text-black font-bold py-2 px-4 rounded-sm my-4">
						PLAY NOW
					</a>
				</div>

			</div>
			<div class="max-w-7xl mx-auto px-4 mb-4 animate-scrolldown">
				<div class="lg:text-center">
					<a href="#page-2" class="text-xs text-white font-bold mt-auto ">
						<span class="hover:text-yellow-400">
							THE STORY
						</span>
						<img src="/assets/scroll-down.svg" class="ml-6 mt-1">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="page-2" class="min-h-screen max-h-screen bg-center bg-no-repeat bg-cover bg-background-page2">
		<div class="grid grid-cols-5 gap-2 px-16 mx-auto place-content-center h-[91.5vh]">
			<div class="col-span-2 pl-16">
				<h3 class="mb-6 text-base text-slate-200 tracking-widest lg:mx-auto">
					What's so special?
				</h3>
				<h1 class="mb-8 text-5xl tracking-wider text-white dark:text-white">
					THE GAMES
				</h1>
			</div>
			<div class="col-span-3 pr-16">
				<div id="indicators-carousel" class="relative" data-carousel="static">
					<!-- Carousel wrapper -->
					<div class="overflow-hidden relative h-56 rounded-lg md:h-96">
						<!-- Item 1 -->
						<div class="duration-700 ease-in-out absolute inset-0 transition-all transform translate-x-0 z-20"
							data-carousel-item="active">
							<img src="/assets/rockpaperstrategy-1600.jpg"
								class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
								alt="...">
						</div>
						<!-- Item 2 -->
						<div class="duration-700 ease-in-out absolute inset-0 transition-all transform translate-x-full z-10"
							data-carousel-item="">
							<img src="/assets/rockpaperstrategy-1600.jpg"
								class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
								alt="...">
						</div>
						<!-- Item 3 -->
						<div class="hidden duration-700 ease-in-out absolute inset-0 transition-all transform"
							data-carousel-item="">
							<img src="/assets/rockpaperstrategy-1600.jpg"
								class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
								alt="...">
						</div>
						<!-- Item 4 -->
						<div class="hidden duration-700 ease-in-out absolute inset-0 transition-all transform"
							data-carousel-item="">
							<img src="/assets/rockpaperstrategy-1600.jpg"
								class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
								alt="...">
						</div>
						<!-- Item 5 -->
						<div class="duration-700 ease-in-out absolute inset-0 transition-all transform -translate-x-full z-10"
							data-carousel-item="">
							<img src="/assets/rockpaperstrategy-1600.jpg"
								class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
								alt="...">
						</div>
					</div>
					<!-- Slider indicators -->
					<div class="flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2">
						<button type="button" class="w-3 h-3 rounded-full bg-white dark:bg-gray-800" aria-current="true"
							aria-label="Slide 1" data-carousel-slide-to="0"></button>
						<button type="button"
							class="w-3 h-3 rounded-full bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800"
							aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
						<button type="button"
							class="w-3 h-3 rounded-full bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800"
							aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
						<button type="button"
							class="w-3 h-3 rounded-full bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800"
							aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
						<button type="button"
							class="w-3 h-3 rounded-full bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800"
							aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
					</div>
					<!-- Slider controls -->
					<button type="button"
						class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none"
						data-carousel-prev="">
						<span
							class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
							<svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
								fill="none" stroke="currentColor" viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
									d="M15 19l-7-7 7-7">
								</path>
							</svg>
							<span class="sr-only">Previous</span>
						</span>
					</button>
					<button type="button"
						class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none"
						data-carousel-next="">
						<span
							class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
							<svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
								fill="none" stroke="currentColor" viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7">
								</path>
							</svg>
							<span class="sr-only">Next</span>
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div id="page-3" class="min-h-screen max-h-screen bg-[position:100%_1%] bg-no-repeat bg-cover bg-background-page3">
		<div
			class="flex flex-col justify-center lg:items-center md:items-start sm:items-start md:h-[91.5vh] sm:h-[70vh] sm:content-start lg:pl-96">
			<div class="pl-16 mb-32 pt-20">
				<h3 class="mb-3 text-base text-slate-200 tracking-widest">
					What's so special?
				</h3>
				<h1 class="mb-8 text-5xl tracking-wider text-white dark:text-white">
					FEATURES
				</h1>

				<ol class="relative border-l border-gray-200 dark:border-gray-700">
					<li class="mb-10 ml-4">
						<div
							class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
						</div>
						<h3 class="text-base text-yellow-400 tracking-wider dark:text-white">TRADITIONAL GAMES</h3>
						<p class="mb-4 max-w-xs text-sm text-white dark:text-gray-400">If you miss your
							childhood, we provide many traditional games here</p>
					</li>
					<li class="mb-10 ml-4">
						<div
							class="absolute w-3 h-3 bg-transparent rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
						</div>

						<h3 class="text-base text-yellow-400 tracking-wider dark:text-white">GAME SUIT</h3>
					</li>
				</ol>
				<ol class="relative border-gray-200 dark:border-gray-700">
					<li class="ml-4">
						<div
							class="absolute w-3 h-3 bg-transparent rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
						</div>

						<h3 class="text-base text-yellow-400 tracking-wider dark:text-white">TBD</h3>
					</li>
				</ol>
			</div>
		</div>
	</div>

	<div id="page-4" class="min-h-screen max-h-screen bg-center bg-no-repeat bg-cover bg-background-page4">
		<div class="flex flex-col justify-center items-start md:h-[91.5vh] sm:h-[70vh] sm:content-start pl-32 pt-32">
			<span class="text-xs place-self-center text-slate-300">Can My Computer Run this game?</span>
			<div class="pl-16 mb-32 pt-20">
				<h1 class="mb-8 text-5xl tracking-wider text-white dark:text-white">
					SYSTEM <br> REQUIREMENTS
				</h1>

				<table class="text-white w-full">
					<tr class="border-[0.5px] border-slate-600 h-24">
						<td class="pl-4 pt-2 pb-4">
							<span class="text-yellow-400">OS:</span>
							<p class="text-xs">Windows 7 64-bit only <br> (No OSX support at this time)</p>
						</td>
						<td class="pl-4 pt-2 pb-4">
							<span class="text-yellow-400">PROCESSOR:</span>
							<p class="text-xs">Intel Core 2 Duo @2.4GHz or <br> AMD Athlon X2 @2.8GHz</p>
						</td>
					</tr>
					<tr class="border-[0.5px] border-slate-600 h-24">
						<td class="pl-4 pt-2 pb-4">
							<span class="text-yellow-400">MEMORY:</span>
							<p class="text-xs">4GB RAM</p>
						</td>
						<td class="pl-4 pt-2 pb-4">
							<span class="text-yellow-400">STORAGE:</span>
							<p class="text-xs">8GB available storage</p>
						</td>
					</tr>
					<tr class="border-[0.5px] border-slate-600 h-24">
						<td class="pl-4 pt-2 pb-4">
							<span class="text-yellow-400">GRAPHICS:</span>
							<p class="text-xs">NVIDIA GeForce GTX 660 2GB or <br> AMD Radeon HD 7850 2GB DirectX 11
								(Shader Model 5)</p>
						</td>
					</tr>
				</table>
			</div>
		</div>

	</div>

	<div id="page-5" class="min-h-screen max-h-screen bg-center bg-no-repeat bg-cover bg-background-page5">
		<div class="flex flex-row justify-center items-center h-screen">
			<div class="max-w-4xl mx-auto px-4 my-auto">
				<h3 class="mb-6 text-4xl tracking-wider text-white dark:text-white">
					TOP SCORES
				</h3>
				<p class="mb-6 text-sm text-slate-200 tracking-normal lg:mx-auto">This top score from various games
					provided <br> on this platform
				</p>
				<button href="#"
					class="btn w-48 bg-yellow-400 hover:bg-yellow-500 text-sm text-black font-bold py-2 px-4 rounded-sm my-4">
					SEE MORE
				</button>
			</div>
			<div class="max-w-7xl mx-auto px-4 my-auto">
				<div id="toast-notification"
					class="p-2 mb-6 ml-40 w-80 max-w-xs text-gray-900 bg-card-grey rounded-lg shadow dark:bg-gray-800 dark:text-gray-300"
					role="alert">
					<div class="flex items-center">
						<div class="inline-block relative shrink-0">
							<img class="w-12 h-12 rounded-full" src="/assets/evan-lahti.jpg" alt="Evan Lahti image">
						</div>
						<div class="ml-3 text-sm font-normal">
							<div class="text-sm text-yellow-400 dark:text-white">
								<span class="pr-36">Evan Lahti</span>
								<img class="inline-block ml-auto" src="/assets/twitter.svg" width="12px" height="12px"
									alt="">
							</div>
							<div class="text-xs text-slate-500 font-normal">PC Gamer</div>
						</div>
					</div>
					<div class="flex items-center mt-4">
						<div class="text-sm font-normal">
							<div class="text-xs font-normal text-slate-200 tracking-wide">
								<p>"One of my gaming highlight of the year."</p>
							</div>
							<span class="text-xs text-slate-500 font-normal mt-4">June 18, 2021</span>
						</div>
					</div>
				</div>
				<div id="toast-notification"
					class="p-2 mb-6 w-80 max-w-xs text-gray-900 bg-card-grey rounded-lg shadow dark:bg-gray-800 dark:text-gray-300"
					role="alert">
					<div class="flex items-center">
						<div class="inline-block relative shrink-0">
							<img class="w-12 h-12 rounded-full" src="/assets/jada-griffin.jpg" alt="Jada Griffin image">
						</div>
						<div class="ml-3 text-sm font-normal">
							<div class="text-sm text-yellow-400 dark:text-white">
								<span class="pr-36">Jada Griffin</span>
								<img class="inline-block ml-auto" src="/assets/twitter.svg" width="12px" height="12px"
									alt="">
							</div>
							<div class="text-xs text-slate-500 font-normal">Nerdcreator</div>
						</div>
					</div>
					<div class="flex items-center mt-4">
						<div class="text-sm font-normal">
							<div class="text-xs font-normal text-slate-200 tracking-wide">
								<p>"The next big thing in the world of streaming and survival games."</p>
							</div>
							<span class="text-xs text-slate-500 font-normal mt-4">July 10, 2021</span>
						</div>
					</div>
				</div>
				<div id="toast-notification"
					class="p-2 w-80 mb-6 ml-32 max-w-xs text-gray-900 bg-card-grey rounded-lg shadow dark:bg-gray-800 dark:text-gray-300"
					role="alert">
					<div class="flex items-center">
						<div class="inline-block relative shrink-0">
							<img class="w-12 h-12 rounded-full" src="/assets/evan-lahti.jpg" alt="Aaron Williams image">
						</div>
						<div class="ml-3 text-sm font-normal">
							<div class="text-sm text-yellow-400 dark:text-white">
								<span class="pr-32">Aaron Williams</span>
								<img class="inline-block ml-auto" src="/assets/twitter.svg" width="12px" height="12px"
									alt="">
							</div>
							<div class="text-xs text-slate-500 font-normal">Uproxx</div>
						</div>
					</div>
					<div class="flex items-center mt-4">
						<div class="text-sm font-normal">
							<div class="text-xs font-normal text-slate-200 tracking-wide">
								<p>"Snoop Dog Playing The Wildly Entertaining 'SOS' Is Ridicolous."</p>
							</div>
							<span class="text-xs text-slate-500 font-normal mt-4">December 24, 2018</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="page-6" class="min-h-screen bg-center bg-no-repeat bg-cover bg-regal-grey">
		<div class="grid grid-cols-5 gap-2 px-16 mx-auto place-content-center h-[91.5vh]">
			<div class="col-span-2">
				<img class="skull shadow-inner" src="/assets/skull.png" alt="">
			</div>
			<div class="col-span-3">
				<h4 class="mb-6 text-base tracking-widest text-white dark:text-white">
					Want to stay in <br> touch?
				</h4>
				<h1 class="mb-8 text-5xl font-normal tracking-normal text-white dark:text-white">
					NEWSLETTER <br> SUBSCRIBE
				</h1>
				<p class="mb-6 text-sm text-slate-200 tracking-normal lg:mx-auto">In order to start receiving our news,
					all you have to do is enter your email <br> address. Everything else will be taken care og by us. We
					will
					send you emails <br> containing information about game. We dont spam.
				</p>

				<div class="flex items-end mb-3">
					<div class="relative mr-3 w-80 revue-form-group">
						<label for="member_email"
							class=" hidden mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email
							address</label>
						<input
							class="revue-form-field bg-card-grey placeholder-yellow-400 border border-transparent text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
							placeholder="youremail@binar.co.id" type="email" name="member[email]" id="member_email"
							required="">
					</div>
					<div class="revue-form-actions">
						<button type="button"
							class="btn w-48 rounded-lg bg-yellow-400 hover:bg-yellow-500 text-sm text-black font-bold py-2 px-4">
							Subribce now
						</button>
					</div>
				</div>

			</div>
		</div>

		<footer class="bg-transparent dark:bg-gray-900 pt-24">
			<nav class="px-2 sm:px-4 dark:bg-gray-900">
				<div class="flex justify-end ml-auto items-end max-w-screen-xl md:px-6 py-2.8">
					<div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1"
						id="navbar-search">
						<ul
							class="flex flex-col mt-4 mr-96 text-xs font-bold text-white md:flex-row md:space-x-8 md:mt-0 md:text-xs md:font-bold">
							<li class="pr-2">
								<a href="#" class=" dark:text-white hover:underline" aria-current="page">MAIN</a>
							</li>
							<li class="pr-2">
								<a href="#" class=" dark:text-white hover:underline">ABOUT</a>
							</li>
							<li class="pr-2">
								<a href="#" class=" dark:text-white hover:underline">GAME FEATURES</a>
							</li>
							<li class="pr-2">
								<a href="#" class=" dark:text-white hover:underline">SYSTEM REQUIREMENT</a>
							</li>
							<li class="pr-2">
								<a href="#" class=" dark:text-white hover:underline">QUOTES</a>
							</li>
							<li class="pr-2">
								<a href="#" class=" dark:text-white hover:underline">
									<img src="/assets/facebook.svg" alt="">
								</a>
							</li>
							<li class="pr-2">
								<a href="#" class=" dark:text-white hover:underline">
									<img src="/assets/twitter.svg" alt="">
								</a>
							</li>
							<li class="pr-2">
								<a href="#" class=" dark:text-white hover:underline">
									<img src="/assets/vector.svg" alt="">
								</a>
							</li>
							<li class="pr-2">
								<a href="#" class=" dark:text-white hover:underline">
									<img src="/assets/twitch.svg" alt="">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="py-6 px-4 dark:bg-gray-700 md:flex md:items-center md:justify-between">
				<span class="text-sm pl-16 text-gray-500 sm:text-center dark:text-gray-400">© 2018 Your Games, Inc. All
					Rights Reserved.
				</span>
				<ul class="flex flex-wrap items-center mt-3 text-xs text-gray-500 dark:text-gray-400 sm:mt-0">
					<li>
						<a href="#" class="mr-4 hover:underline md:mr-6 ">PRIVACY POLICY</a>
					</li>
					<li>
						<span href="#" class="mr-4 hover:underline md:mr-6 ">|</span>
					</li>
					<li>
						<a href="#" class="mr-4 hover:underline md:mr-6">TERM OF SERVICES</a>
					</li>
					<li>
						<span href="#" class="mr-4 hover:underline md:mr-6">|</span>
					</li>
					<li>
						<a href="#" class="mr-4 hover:underline md:mr-6">CODE OF CONDUCT</a>
					</li>
				</ul>
			</div>
		</footer>
	</div>

	<%- include('./templates/scripts') -%>
		<%- include('./templates/footer') -%>