@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scrollDown {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.8);
  }

  10% {
    transform: scale(1);
  }
}

.skull {
  position: relative;
  opacity: 0.5;
}

.skull:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
}

#btn-reset {
  transition: transform 0.7s ease-in-out;
}
#btn-reset:hover {
  transform: rotate(360deg);
}
